
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gabarito";
    user-select: none;
    
}

*::after,
*::before{
    user-select: none;
}



body{
    /* background-image: url(./assets/2.jpg);
    background-size: cover; */
    background-color: #fff;
    color: #000;
    height: 100%;
}

.navbar{
    padding: 8px;
    width: 100%;
    color: #fff;
}





.navbar span{
    font-weight: bold;
    color: #fff;
}

.navbar  .li{
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 5px;
}

.navbar  .li:hover{
    border-bottom: 2px solid ;
    color: #00ACC1;
}

.img-div{
    cursor: pointer;
}

.row {
    --bs-gutter-x: 0 !important;
}

.card::after,
.card::before
{
    
    height: auto!important;
}

.card {
    width: 16rem !important;
    height: auto!important;
    width: 16rem !important;
    text-align: center !important;
}
.title{
    color: #009688;
}

.two{
    margin-top: 2rem;
}



.sp {
    background: linear-gradient(
        90deg,
        #866ee7,
        #ea60da,
        #ed8f57,
        #fbd41d,
        #2cca91
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }




    ::-webkit-scrollbar {
        width: 10px;
        height: 10px; /* width of the entire scrollbar */
      }
      
      ::-webkit-scrollbar-track {
        background: #f1f1f1; /* color of the track */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #888; /* color of the scrollbar handle */
        border-radius: 6px; /* roundness of the scrollbar handle */
        border: 3px solid #f1f1f1; /* border around the scrollbar handle */
      }


      /* .col-col{
        position: relative;
      }

      .my-png{
        position: absolute;
        left: 200px;
      } */



      .my-png-div {
        width: 190px;
        height: 254px;
        border-radius: 30px;
        background: #e0e0e0;
        box-shadow: 15px 15px 30px #bebebe,
                   -15px -15px 30px #ffffff;
      }

      .gif{
        mix-blend-mode: multiply;
      }

      .app{
        background-image: url('.//assets/backdround/backImage.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
      }

      .card-col{
        height: 79vh !important;
        width: 25vw !important;
        border-radius: 20px;
        padding: 5px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      }
    .card-col-two{
      height: 70vh !important;
      width: 23vw !important;
      /* transform: rotate(-5deg); */
      background-color: transparent;
      color: #26A69A;
     }
       .my-font-name{
        font-family: 'Lemon';
      }

      .card__content {
        background: rgb(5, 6, 45);
        border-radius: 17px;
        width: 100%;
        height: 100%;
      }

      h5{
        color: #87eadf;
        margin-top: 25px;
      }











      .social-card {
        height: fit-content;
        width: fit-content;
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 20px;
        /* background: rgb(255, 255, 255); */
        padding: 20px 25px;
        border-radius: 14px;
      }
      .Btn {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        position: relative;
        border-radius: 7px;
        cursor: pointer;
        transition: all 0.3s;
      }
      
      .svgContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        backdrop-filter: blur(0px);
        letter-spacing: 0.8px;
        border-radius: 10px;
        transition: all 0.3s;
        border: 1px solid rgba(156, 156, 156, 0.466);
        z-index: 2;
      }
      
      .BG {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #181818;
        z-index: 1;
        border-radius: 10px;
        pointer-events: none;
        transition: all 0.3s;
        font-size: 0px;
      }
      .github .BG {
        background: #181818;
      }
      .linkdin .BG {
        background: #0077b5;
      }
      .whatsapp .BG {
        background: #075e54;
      }
      .discord .BG {
        background: #7289da;
      }
      .Btn:hover .BG {
        transform: scale(1.5);
        /* transform-origin: bottom; */
        font-size: 20px;
        color: white;
      }
      
      .Btn:hover .svgContainer {
        border: 1px solid rgba(216, 216, 216, 0.466);
        background-color: rgba(209, 209, 209, 0.466);
        backdrop-filter: blur(4px);
      }
      


      @media (max-width: 600px) {

        body{
          height: 100vh;
          width:100vw;
        }
          
         

        .app {
          width: 100% !important;
          background-image: url('/src/assets/backdround/rohit.png'); 
          background-size: cover;
        }
        
        .welcome {
          font-size: 0.9rem;
          margin-top: 20rem !important;
          margin-left: -5rem;
        }
        .navbar {
            font-size: 14px; 
        }
      
        

        .navbar .li {
          display: none;
      }

      .about.visible {
        display: block;
      }
      
      .about.hidden {
        display: none;
      }
      }